@use "../sass-utils/variables";

body{
    background-color: variables.$lightBgColor;
}

.head{
    background-color: white;
}

.head-logo{
    
    padding: 20px 0;

    .returnArrow{
        
        padding: 20px;
    }
    img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }
    
}

.head-localisation{
    height: 50px;
    background-color: variables.$strongBgColor;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.head-conteneur{
    padding: 20px 0 30px 0;
}
.head__title{
    width: 275px;
    height: 70px;
    text-align: center;
}
.head__info{
    width: 315px;
    text-align: center;
    
    p{
        margin-top: 0;
    }
    
}
.head__button{
  
    height: 50px;
    text-align: center;
}





