nav{
    background-color: white;
    padding: 25px;
}

.nav__list{
    list-style: none;
    padding: 0;
    gap: 20px;   
}

.nav__item{
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color: $lightBgColor;
    border-radius: 20px;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav__prepend{
    margin: 0 0 0 -10px;
    padding: 5px 7px;
    background-color: $purpleColor;
    color: white;
    border-radius: 50% ;
}