footer .footer{
    background-color: #353535;
    padding: 20px;

    
    ol{
        padding: 0;
    }
    li{
        list-style: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
    i {
        padding: 0 10px 0 0;
    }
    
}
.handshakeTransform{

    transform: rotateZ(-45deg);
  
}