
$greenLightColor: #99E2D0;
$greenStrongColor:#008766;
$blueLightColor:#89C8FA;
$blueStrongColor:#003A68;
$purpleColor:#9356DC;
$purpleLightColor: #FF79DA;


$strongBgColor: #EAEAEA;
$lightBgColor: #F6F6F6;


$size100vw :100vw;
$size100vh :100vh;
$size100: 100%;

$fontRoboto: 'Roboto ';
$fontShrikhand: 'Shrikhand';