@use "../sass-utils/variables";



.head__img img{
    height: 275px;
    width: 100%;
    object-fit: cover;
}

.pages--background{
    background-color: white;
}

.side__page__conteneur{
    transform: translateY(-40px);
    padding: 20px;
    margin-bottom: -40px;
    background-color: variables.$lightBgColor;
    border-radius: 40px 40px 0 0;

    h1{
        font-family: variables.$fontShrikhand;
        font-size: 28px;
        
    }
    h3{
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}



.page__card{
    gap: 20px;
    animation: slideIn 5s ;

    &__title{
        position: relative;
        margin-top: 40px;
    
        p{
            margin-bottom: 5px;
        }
    
        ::after{
            content: "";
            background: variables.$greenLightColor;
            position: absolute;
            width: 40px;
            height: 2px;
            bottom: 0;
            left: 0;
            margin-top: 5px ;
        }
    }
    &__plate{
        background-color: white;
        box-shadow: 0px 4.01px 15.04px 0px #0000001A;
        border-radius: 15px;
        height: 75px;
        gap: 5px;        
        overflow: hidden;
        cursor: pointer;

        &--description{
            padding: 15px;
            overflow: hidden;
        }
        &--name{
            margin: 0;
            font-weight: 700;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &--info{
            margin: 0;
            padding: 5px 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          
        }
        &--content{
            align-items: end;
            gap: 20px;
        }
        &--price{
            padding-bottom: 15px;
        }
        &--button{
            margin-right: -60px;
            background-color: variables.$greenLightColor;
            height: 100%;
            width: 60px;
            
            transition: margin 1s ease;

            .fa-check{
                background-color: white;
                border-radius: 50%;
                padding: 5px;
                color: variables.$greenLightColor;
                
            }
        }
        &:hover .page__card__plate--button{
          

           
            margin-right: 0;
           
            
        }
            
    }
   
    
}

/* animation de la page */

.page__card{
    opacity: 0;
    animation: slideSideX 2s ease forwards;
}

.page__card:nth-child(2){
    
    animation-delay: 1s;

}
.page__card:nth-child(3){
   
    animation-delay: 3s;
}
.page__card:nth-child(4){
    
    animation-delay: 5s;
    

}


@keyframes slideSideY {
    from {
        opacity: 0;
        transform: translateX(200px) ;
    }
    to {
        opacity: 1;
        transform: translateY(0) ;
    }
    
}
@keyframes slideSideX {
    from {
        opacity: 0;
        transform: translateX(-200px) ;
    }
    to {
        opacity: 1;
        transform: translateY(0) ;
    }
    
}

.page__button--command{
    margin-top: 20px;

    .button-ohMy{
        width: 180px;
        justify-content: center;
        
    }
    
}